<div class="create-menu">
    <div class="create-toggle"></div>
</div>
<div class="create-copy">Type an activity you want to limit. You can cheat 1 day each week!</div>
<div class="create-input">
    <input placeholder="Example: Drink alcohol" />
</div>